Source: qubes-gnome-software-plugin
Section: admin
Priority: optional
Maintainer: Qubes OS <user@qubes-os.org>
# libgnomesoftware.so is provided by gnome-software and not just by
# gnome-software-dev, unlike Fedora
Build-Depends:
    debhelper (>= 12),
    meson,
    gcc,
    gnome-software,
    gnome-software-dev,
    gsettings-desktop-schemas-dev,
Standards-Version: 4.4.0.1
Homepage: https://www.qubes-os.org

Package: qubes-gnome-software-plugin
Architecture: all
Depends:
    ${misc:Depends},
    gnome-software,
Description: Qubes gnome-software-plugin VM package.
