#!/usr/bin/make -f
# -*- makefile -*-

CONFARGS = --werror -Dqubes=true

%:
	dh $@

# dh_make generated override targets.
# This is an example for Cmake (see <https://bugs.debian.org/641051>).
override_dh_auto_configure:
	echo "option('qubes', type: 'boolean', value: false, description: 'Qubes support')" > meson_options.txt && \
	dh_auto_configure -- $(CONFARGS);
